<!-- 
Created by: Bhupinder Dabb on 06/18/2022.
Student Id: 301187371 -->


<div class="container">
    <h1>Business Contact List</h1>

    <div class="row">
        <div class="col">

            <a href="/add" id="addButton" class="btn btn-primary mb-1"><i class="fa-solid fa-circle-plus"></i> Add Contact</a> 
    
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Email Address</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="bcontact">
                    <!-- Repeatable Rows -->
                    <% for(let count = 0; count < bcontact.length; count++) { %>
                        <tr>
                            <th scope="row" class="text-center"><%= count + 1 %></th>
                            <td><%= bcontact[count].Name %></td>
                            <td><%= bcontact[count].Phone_Number %></td>
                            <td><%= bcontact[count].Email_Address %></td>
                            <td class="text-center"><a href="/edit/<%= bcontact[count]._id %>" class="btn btn-primary btn-sm edit"><i class="fa-solid fa-pen-to-square"></i></a> Edit</td>    
                            <td class="text-center"><a href="/delete/<%= bcontact[count]._id %>" class="btn btn-danger btn-sm delete"><i class="fa-solid fa-trash-can"></i></a> Delete</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

